/***** GENERAL FORMATTING *****/
html, body {
    margin: 0;
	padding: 0;
    color: #4d4d4d;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
    border-top: 5px solid #2962FF;
    background: url(/img/MountainRanges.svg);
    background-attachment: scroll;
    background-position: bottom;
    background-repeat: repeat-x;
}
body {
    min-height: 99vh;
    min-height: calc(100vh - 5px);
    width: 80%;
    max-width: 2000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    font-size: 16pt;
}
* {
    margin: 0;
    padding: 0;
}
#menu_button, #mobile_header, #close_menu, #mobile_menu {
    display: none;
}
::selection {
    color: white;
    background: rgba(0, 0, 0, 0.7);
}
img::selection {
    background: rgba(41, 98, 255, 0.5);
}

/***** ANIMATION KEYFRAMES *****/
@keyframes fadeUp {
    from {
        transform:translateY(5vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadeDown {
    from {
        transform:translateY(-5vh);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes hello {
    0% {
        transform: scaleX(1);
    }

    10%, 20% {
        transform: scale3d(.75,.75,.75) rotate(-5deg) translateY(-10px);
        color: #F66733;
    }

    30%, 50%, 70%, 90% {
        transform: scale3d(1.25,1.25,1.25) rotate(5deg) translateY(-10px);
        color: #F66733;
    }

    40%, 60%, 80% {
        transform: scale3d(1.25,1.25,1.25) rotate(-5deg) translateY(-10px);
        color: #F66733;
    }
    100% {
        transform: scaleX(1);
    }
}

/***** HEADINGS & BASIC TAGS *****/
h2 {
    font-size: 56pt;
    color: #4D4D4D;
}
h2.hello {
    animation: hello 1.2s ease-in-out 300ms;
}
h3 {
    width: 100%;
    text-align: center;
    font-size: 28pt;
    margin: 0.5rem 0;
}
p {
    font-size: 16pt;
    line-height: 1.5;
    width: 100%;
    margin: 0.5em 0;
}
p.center {
    margin: 0.25rem 0;
}
.content {
    animation: fadeUp 0.5s ease-in-out;
}
a {
    text-decoration: none;
    color: #2962FF;
}
a:active {
    transform: scale(0.95);
}
.center {
    width: 100%;
    text-align: center;
}
a.cta {
    position: relative;
    overflow: hidden;
    font-size: 16pt;
    padding: 0.75rem 3.5rem;
    margin: 0.5rem 5%;
    border-radius: 0.5rem;
    text-align: center;
    color: #2962FF;
    border: 2px solid #2962FF;
    text-decoration: none;
    transition: none 300ms ease-in-out;
    transition-property: border, color;
    z-index: 1;
}
a.cta .bkg {
    position: absolute;
        top: 0; left: 0;
    margin-top: 50%;
    width: 100%;
    height: 100%;
    background: #2962FF;
    background: -webkit-linear-gradient(top, dodgerblue, #2962FF);
    background: -o-linear-gradient(bottom, dodgerblue, #2962FF);
    background: -moz-linear-gradient(bottom, dodgerblue, #2962FF);
    background: linear-gradient(to bottom, dodgerblue, #2962FF);
    transition: margin-top 300ms ease-in-out;
    z-index: -1
}
a.cta:hover .bkg {
    margin-top: 0;
}
a.cta:hover {
    color: white;
    border-color: transparent;
}

/***** NAV *****/
nav {
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 0;
}
nav a {
	padding: 0 2em;
    text-decoration: none;
	color: #9E9E9E;
    font-size: 18pt;
    text-transform: none;
    transition: color 300ms ease-in-out;
}
nav a::after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: none 300ms ease-in-out;
    transition-property: width, background;
}
nav a:first-child {
    color: #2962FF;
    font-size: 32pt;
    font-weight: 800;
    margin-right: auto;
}
a.active {
    color: #4D4D4D;
}
nav a:hover {
	color: #4D4D4D;
}
nav a:hover::after, nav a.active::after {
    width: 125%;
    background: #2962FF;
    background: -webkit-linear-gradient(left, dodgerblue, #2962FF);
    background: -o-linear-gradient(left, dodgerblue, #2962FF);
    background: -moz-linear-gradient(left, dodgerblue, #2962FF);
    background: linear-gradient(to right, dodgerblue, #2962FF);
}
nav a:first-child:hover::after {
    width: 0;
    background: none;
}
nav a:active {
    transform: none;
}

/***** FOOTER *****/
footer {
    margin-top: auto;
    padding: 10rem 0 0.5rem 0;
}
footer p {
	font-size: 12pt;
	color: white;
    margin: 0;
    padding: 0.25rem 0;
    text-align: center;
}
.footerSocials {
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialIcon {
    width: 2rem;
    padding: 0 1rem;
}
.socialIcon img {
    opacity: 0.6;
    transition: opacity 300ms ease-in-out;
}
.socialIcon:hover img {
    opacity: 1;
}

/***** GRID FORMATTING *****/
.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-top: 1rem;
    transition: opacity 200ms ease-in-out;
}
.gridItem {
    position: relative;
    height: 0;
    width: 32%;
    width: calc(33% - 1rem);
    padding-bottom: 16.55%;
    margin-bottom: 2rem;
    overflow: hidden;
    background: #F5F5F5;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.25);
}
.gridItem.photo {
    padding-bottom: 21.33%;
    transition: opacity 200ms ease-in-out;
    cursor: pointer;
}
.gridItem img{
    width: 100%;
    border-radius: 10px;
}
.gridItem .imgShade {
    position: absolute;
        left: 0; bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    border-radius: 10px;
    transition: opacity 200ms ease-in-out;
}
.gridItem .imgShade span {
    position: absolute;
        left: 50%; top: 50%;
    transform: translate(-50%, -100%);
    width: 65%;
    padding: 1rem;
    text-align: center;
    font-size: 18pt;
    background: white;
    color: #4D4D4D;
    border: 2px solid white;
    border-radius: 10rem;
    transition: transform 200ms ease-in-out;
}
.gridItem:hover .imgShade {
    opacity: 1;
}
.gridItem:hover .imgShade span {
    transform: translate(-50%, -50%);
}
.grid:hover > .gridItem.photo {
    opacity: 0.75;
}
.grid:hover > .gridItem.photo:hover {
    opacity: 1;
}

/***** LIGHTBOX *****/
#lightbox {
    visibility: hidden;
    opacity: 0;
    transition: none 300ms ease-in-out;
    transition-property: visibility, opacity;
}
#lightbox.active {
    visibility: visible;
    opacity: 1;
}
.noScroll {
    overflow: hidden;
}
#close {
    position: fixed;
        left: 0; top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1;
}
#close span {
    color: white;
    position: fixed;
        right: 0; top: 0;
    width: 7rem;
    height: 6rem;
    text-align: center;
    line-height: 5rem;
    font-size: 48pt;
    cursor: pointer;
    transition: background 300ms ease-in-out;
}
.lightboxContainer {
    width: 70%;
    max-width: 1600px;
    height: auto;
    position: fixed;
        left: 50%;  top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
#lightboxImg {
    width: 100%;
}
#caption {
    position: fixed;
        left: 50%;  bottom: -2.5rem;
    transform: translate(-50%, 0);
    background: black;
    color: white;
    font-size: 16pt;
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
}

/***** CONTENT *****/
article {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 50%;
    margin: auto;
}
article.photography {
    width: 75%;
}
table {
    width: 98%;
    width: calc(100% - 2rem);
    border-collapse: collapse;
    margin: 1rem;
}
th {
    background: #2962FF;
    color: white;
    width: 35%;
}
td {
    background: #E8E8E8;
}
th, td {
    padding: 1.5em 3em;
    border: 1px solid white;
}

/***** SCREEN SIZES BELOW 1376PX (SMALL DESKTOP) *****/
@media (max-width: 1376px) {
    body {
        width: 95%;
    }
    /*** NAV ***/
    nav a {
        padding: 0 0.5em;
    }
    nav a:first-child {
    }
}

/***** SCREEN SIZES BELOW 800PX (MOBILE) *****/
@media (max-width: 800px) {
    html {
        background-size: 250%;
        border-top: none;
    }
    /***** MOBILE MENU *****/
    nav {
		position: fixed;
			left: -22rem; top: 0;
		width: 20rem;
		height: 100vh;
		padding: 1rem;
        background: white;
		text-align: left;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 9;
        transition: 300ms all ease-in-out;
    }
	nav a {
		width: 100%;
		display: inline-block;
        padding: 1rem 0;
        border: none;
	}
    nav a::after {
        content: none;
    }
    nav a:first-child {
        margin-right: 0;
    }
    #mobile_header {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 3.5rem;
        position: fixed;
            top: 0; left: 0;
		background: #2962FF;
		z-index: 1;
    }
	#mobile_header a {
		font-size: 24pt;
        font-weight: 800;
        color: white;
	}
    #screen_shade {
        display: none;
        position: fixed;
            left: 0;
            top: 0;
        height: 100vh;
        width: 100vw;
        background: black;
        opacity: 0.5;
		z-index: 5;
    }
    #mobile_menu:checked ~ nav{
        left: 0;
    }
    #mobile_menu:checked ~ #screen_shade{
        display: block;
    }
    #menu_button, #close_menu {
        cursor: pointer;
    }
    #close_menu {
        display: block;
        position: absolute;
            top: 0; right: 0;
		font-size: 28pt;
		padding: 0.1em;
		width: 1.25em;
        text-align: center;
        transition: 0.25s all ease-out;
    }
    #close_menu:hover {
        background: #2962FF;
		color: white;
    }
    input[type="checkbox"] {
        position: absolute;
            left: 0;
            top: 0;
        height: 7em;
        width: 7em;
        opacity: 0;
        z-index: 99;
    }
    #menu_button {
        display: flex;
        justify-content: center;
        left: 2.5em;
        font-size: 30pt;
        position: fixed;
            top: 0; left: 0;
        width: 3.5rem;
        height: 3.5rem;
		color: white;
		z-index: 1;
        transition: 0.325s all ease-out;
    }
    #menu_button:hover {
        background: white;
		color: #2962FF;
    }

	/***** CONTENT *****/
    body {
        width: 98%;
        width: calc(100% - 2rem);
        margin-top: 4rem;
        min-height: 92.5vh;
    }
    article, article.photography {
        width: 100%;
        margin-top: 0;
        transform: none;
    }
	h2 {
		font-size: 64pt;
	}
    p {
        font-size: 14pt;
    }
    table {
        width: auto;
        margin: 0;
    }
    th {
        width: 25%;
    }
    th, td {
        padding: 1em 1em;
    }
    footer {
        padding-top: 25vw;
    }
    footer p {
        font-size: 12pt;
    }
    .gridItem {
        width: 100%;
        padding-bottom: 16.55%;
        margin-bottom: 40%;
        background: #F5F5F5;
    }
    .gridItem.photo {
        margin-bottom: 50%;
    }
    .gridItem .imgShade {
        position: absolute;
            left: 0; top: 0;
        height: 315%;
        background: rgba(0, 0, 0, 0.25);
        opacity: 1;
    }
    .gridItem .imgShade span {
        transform: translate(-50%, -50%);
        padding: 0.5rem;
    }
    .grid:hover > .gridItem.photo, .grid:hover > .gridItem.photo:hover {
        opacity: 1;
    }
    .lightboxContainer {
        width: 95%;
    }
}
