@import '../variables.scss';
@import '../main.scss';


.home-page { 
  min-height: calc(100vh - #{$banner-height} - #{$navbar-height} - 2rem);

  @include tablet {
    min-height: calc(100vh - #{$desktop-banner-height} - #{$footer-height} - #{$navbar-height} + 1rem);
  }

  @include xl-desktop {
    min-height: calc(100vh - #{$xl-desktop-banner-height} - #{$footer-height} - #{$navbar-height} - 2rem);
  }

  &__content {
    h1 {
      margin: 0.5rem 0;
    }

    @include sm-mobile {
      h1 {
        margin: 0.25rem 0;
      }
    }
  }
}
