@import '../variables.scss';

.home-page { 
  min-height: calc(100vh - #{$desktop-banner-height} - #{$footer-height} - 2rem);;

  &__content {
    margin: 1rem;

    display: flex;

    justify-content: center;
    align-items: center;

    min-height: inherit;
  }
}
