@import '../variables.scss';

.portfolio-page { 
  min-height: inherit;  

  &__gallery {
    width: calc(100vw - 1rem);

    padding: 0.5rem;

    @include tablet {
      width: calc(100vw - #{$desktop-navbar-width} - 1rem);
    }
  }
}