@import '../variables.scss';

.portfolio-page { 
  min-height: inherit;  

  &__gallery {
    margin-top: 100vh;

    width: calc(100vw - 1rem);

    margin-top: -$mobile-navbar-height;
    padding: 0.5rem;

    background: $dark-gray;
    background: $color-5;

    @include tablet {
      width: calc(100vw - #{$desktop-navbar-width} - 1rem);

      margin: 0;
    }
  }

  @include tablet {
    min-height: inherit;
  }
}