@import '../variables.scss';

.portfolio-page { 
  min-height: inherit;  

  &__gallery {
    margin-top: 100vh;

    width: calc(100vw - 2rem);

    margin-top: -$mobile-navbar-height;
    padding: 1rem;
    padding-bottom: $mobile-navbar-height;
    padding-bottom: calc(#{$mobile-navbar-height} + 1rem);
    
    background: $dark-gray;
    background: $color-5;

    @include tablet {
      width: calc(100vw - #{$desktop-navbar-width} - 2rem);

      padding: 1rem 1rem 1rem $desktop-navbar-width;
      padding: 1rem 1rem 1rem calc(#{$desktop-navbar-width} + 1rem);
      
      margin: 0;
    }
  }

  @include tablet {
    min-height: inherit;
  }
}