@import '../variables.scss';

.portfolio-landing-page { 
  min-height: inherit;  

  &__galleries {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    justify-items: center;

    width: 85vw;
    width: calc(100vw - 2rem);

    padding: 1rem;

    @include tablet {

      width: calc(100vw - #{$desktop-navbar-width} - 2rem);
      
      padding: 1rem;

      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    }

  }

  @include tablet {
    min-height: inherit;
  }
}