@import '../variables.scss';

.portfolio-landing-page { 
  margin: 1rem;

  display: flex;

  justify-content: center;
  align-items: center;

  &__galleries {
    margin-top: 100vh;
  }

  @include tablet {
    min-height: inherit;
  }
}