@import '../variables.scss';
@import '../main.scss';

.web-design-page { 
  min-height: auto;  

  &__gallery {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      
    }

  }
}