@import '../variables.scss';

.banner {
  height: $banner-height;
  background: url('../../static/img/trees.svg') no-repeat top center;
  background: url('../../static/img/trees.svg') no-repeat top center, $sky-gradient;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet {
    height: $desktop-banner-height;
  }

  @include xl-desktop {
    height: $xl-desktop-banner-height;
  }
}