@import '../variables.scss';

.banner {
  height: $banner-height;
  background: $background-white url('../../static/img/MountainRange.svg') no-repeat;
  background-size: cover;

  @include tablet {
    height: $desktop-banner-height;
  }
}