@import '../variables.scss';

.centered-card-container {
  max-width: 98vw;
  
  overflow: hidden;

  margin: 1rem;

  display: flex;
  flex-direction: column;

  position: relative;

  justify-content: flex-start;
  align-items: center;

  min-height: inherit;

  @include tablet {
    max-width: calc(100vw - #{$desktop-navbar-width});

    justify-content: center;
  }
}

.centered-card {
  border-radius: $border-radius;

  background: $highlight-white;

  padding: 2rem;

  max-width: 35rem;

  box-shadow: $box-shadow;
}
.scroll-indicator {
  position: absolute;
  left: 50%;
  bottom: 0.25rem;

  width: 2rem;
  height: 2rem;

  background: url('../../static/img/mouse.svg') no-repeat;
  background-size: contain;

  animation: bounce 1.2s infinite 1s;
  transform-origin: center bottom;
}


@keyframes bounce {
  from,
  20%,
  53%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -7px, 0) scaleY(1.02);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.97);
  }

  90% {
    transform: translate3d(0, -2px, 0) scaleY(1.01);
  }
}