@import '../variables.scss';

.centered-card-container {
  max-width: 98vw;
  
  overflow: hidden;

  margin: 1rem;

  display: flex;

  position: relative;

  justify-content: center;
  align-items: flex-start;

  min-height: inherit;

  @include tablet {
    max-width: calc(100vw - #{$desktop-navbar-width});

    align-items: center;
  }
}

.centered-card {
  border-radius: $border-radius;

  background: $highlight-white;

  padding: 2rem;

  max-width: 35rem;

  box-shadow: $box-shadow;
}