@import '../variables.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: $footer-height;
  width: 100%;

  background: $background-white;
  color: $dark-gray;

  padding-bottom: $mobile-navbar-height;

  &__content {
    margin: 0;
  }

  @include tablet {
    width: calc(100% - #{$desktop-navbar-width});

    padding: 0;
    padding-left: $desktop-navbar-width;
  }
}