@import '../variables.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: $footer-height;
  width: 100%;

  background: $color-5;
  color: $highlight-white;

  padding-bottom: $mobile-navbar-height;

  &__content {
    margin: 0;
  }

  @include tablet {
    padding: 0;
  }
}