@import '../variables.scss';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;

  height: $footer-height;
  width: 100%;

  background: $background-white;
  color: $dark-gray;

  padding-bottom: $navbar-height;

  &__content {
    margin: 0;
  }

  @include tablet {
    width: 100%;

    padding: 0;
  }
}