@import '../variables.scss';

.gallery-link {
  position: relative;

  width: 100%;

  &__image {
    width: inherit;

    transition: filter $transition-time $transition-timing;
  }

  &__text {
    position: absolute;

    left: 50%;
    top: 50%;

    margin: 0;

    transform: translate(-50%, -50%);

    color: white;
    font-size: 18pt;
    text-shadow: $box-shadow;

    z-index: 1;

    text-align: center;
  }

  &:hover &__image {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
  }

  &:active {
    transform: scale(0.95);
  }
}