@import '../variables.scss';

.gallery-link {
  position: relative;

  width: 100%;

  border-radius: $border-radius;

  &__image {
    width: inherit;
  }

  &__text {
    position: absolute;

    left: 50%;
    top: 50%;

    margin: 0;

    transform: translate(-50%, -50%);

    color: white;

    font-size: 18pt;

    text-shadow: $box-shadow;
  }
}