@import '../variables.scss';

.page-content {
  margin-top: $navbar-height;

  min-height: calc(100vh - #{$desktop-banner-height} - #{$navbar-height});

  background: linear-gradient(180deg, $highlight-white, $highlight-white, 50%, $color-1, 50%, $color-1);

  @include tablet {
    min-height: calc(100vh - #{$desktop-banner-height} - #{$footer-height} - #{$navbar-height} + 1rem);

    background: linear-gradient(180deg, $highlight-white, $highlight-white, 75%, $color-1, 75%, $color-1);
  }

  @include xl-desktop {
    min-height: calc(100vh - #{$xl-desktop-banner-height} - #{$footer-height} - #{$navbar-height} + 1rem);
  }
}