@import '../variables.scss';

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: $navbar-height;

  background: $color-3;
  box-shadow: $box-shadow;

  z-index: 9;

  .container {
    height: inherit;
    width: inherit;

    display: flex;
  }

  &__brand {
    @include tablet {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 4rem;
    }
  }

  &__start {
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    @include tablet {
      flex-direction: row;

      justify-content: flex-start;
    }
  }

  &__item {
    text-align: center;

    z-index: 1;

    min-width: 2rem;

    font-weight: bold;

    color: $light-gray;

    @include tablet {
      margin: 0 1rem;

      position: relative;

      &:hover {
        color: $color-3
      }

      &.active {
        color: $dark-gray;
      }
  
      &.active::after {
        content: "";
        width: 6px;
        height: 6px;

        display: block;

        border-radius: 100%;

        background: $color-3;

        position: absolute;
          left: calc(50% - 3px);
          bottom: -0.6em;
      }
    }
  }  

  @include tablet {
    top: 0;

    background: $highlight-white;
  }
}