@import '../variables.scss';

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: $mobile-navbar-height;

  background: $color-5;
  box-shadow: $box-shadow;

  z-index: 9;

  .container {
    height: inherit;
    width: inherit
  }

  &__brand {
    display: none; 

    @include tablet {
      display: flex;
      justify-content: center;

      width: 6rem;
    }
  }

  &__start {
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    @include tablet {
      flex-direction: column;

      justify-content: flex-start;
    }
  }

  &__item {
    width: 24vw;

    text-align: center;

    fill: $color-2;

    z-index: 1;

    svg {
      height: 2.5rem;
      width: 2.5rem;

      margin: auto;
    }

    &:hover {
      fill: $highlight-white;
    }

    &.active {
      fill: $highlight-white;
    }

    @include tablet {
      fill: $dark-gray;

      width: 2.5rem;

      padding: 2rem 0;

      &:hover {
        fill: $color-4;
      }
  
      &.active {
        fill: $color-4;
      }
    }
  }  

  @include tablet {
    top: 0;

    width: $desktop-navbar-width;
    height: 100vh;

    background: $highlight-white;
  }
}