@import '../variables.scss';

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  height: $navbar-height;

  background: $color-4;
  box-shadow: $box-shadow;

  z-index: 9;

  .container {
    height: inherit;
    width: inherit;

    display: flex;
  }

  &__brand {
    @include tablet {
      display: flex;
      justify-content: center;

      width: 6rem;
    }
  }

  &__start {
    height: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    @include tablet {
      flex-direction: row;

      justify-content: flex-start;
    }
  }

  &__item {
    text-align: center;

    z-index: 1;

    min-width: 2rem;

    font-weight: bold;

    color: $dark-gray;

    @include tablet {
      padding: 2rem 0;
      margin: 0 1rem;

      &:hover {
        color: $color-2
      }
  
      &.active {
        text-decoration: underline;
      }
    }
  }  

  @include tablet {
    top: 0;

    background: $highlight-white;
  }
}