@import '../variables.scss';

.photo-tiles-container {
  position: absolute;
  top: calc($navbar-height + 17rem);

  width: calc(100vw - 1rem);
  height: calc(100vh - $navbar-height - 18rem);

  overflow: hidden;
  z-index: -1;

  @include sm-mobile {
    top: calc($navbar-height + 15rem);

    height: calc(100vh - $navbar-height - 16rem);
  }

  @include tablet {
    top: calc($navbar-height + 17rem);

    height: calc(100vh - $navbar-height - 19rem);
  }
}

.photo-tiles {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  width: 100vw;

  &__item {
    display: block;
    margin: 0.25rem;

    @include tablet {
      margin: 0.5rem;
    }
  }

  &__image {
    height: 18vw;
  }
}