@import '../variables.scss';

.photo-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  &__item {
    &:nth-child(5n) {
      grid-column-end: span 2;
    }

    img {
      border-radius: $border-radius;
      overflow: hidden;
    }
  }

  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  }
}
