@import '../variables.scss';

.photo-background {
  position: absolute;
  top: $navbar-height;

  width: calc(100vw - 1rem);
  height: calc(100vh - $navbar-height);

  overflow: hidden;
  z-index: -1;

  &__image {
    width: inherit;
    height: inherit;

    object-fit: cover;
  }
}