@import '../variables.scss';

.social-media-row {
  display: flex;
  width: 100%;

  justify-content: space-evenly;

  border-radius: $border-radius;

  background: $highlight-white;

  padding: 1rem 0;
  margin: 2rem 0;

  max-width: 39rem;

  box-shadow: $box-shadow;

  &__link {
    transition: transform $transition-time $transition-timing;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
  }

  @include tablet {
    padding: 2rem 0;
  }
}