$background-white: #F8F8F8;
$highlight-white: #FFFFFF;

$color-1: #C3E1E5;
$color-2: #AAD0D4;
$color-3: #68B8C1;
$color-4: #2A8A92;
$color-5: #617C7E;

$border-radius: 20px;
$box-shadow: 0 3px 6px rgba(55, 55, 55, 0.65);
$second-page-gradient: linear-gradient(180deg, rgba(97,124,126,1) 0%, rgba(23,29,29,1) 20%, rgba(23,29,29,1) 100%);

$dark-gray: #2E2E2E;
$light-gray: #959595;

$font-family: 'Ubuntu';

$max-column-width: 25rem;

$transition-time: 200ms;
$transition-timing: ease-out;

$mobile-navbar-height: 4rem;
$desktop-navbar-width: 6rem;
$footer-height: 8rem;
$desktop-footer-height: 12rem;

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  background-color: $background-white;
  font-family: $font-family;
  color: $dark-gray;
}

a {
  text-decoration: none;

  transition: none $transition-time $transition-timing;
  transition-property: background-color, background-image, color, fill;
}

h1 {
  color: $color-4;
}

// Even smaller screens (mainly used for the horizontal card)
$screen-mobile-portrait: 530px;

// Small tablets and large smartphones (landscape view)
$screen-mobile: 576px;

// Small tablets (portrait view)
$screen-tablet: 768px;

// Tablets and small desktops
$screen-desktop: 992px;

// Large tablets and desktops
$screen-xl-desktop: 1250px;

// Small devices
@mixin sm-mobile {
	@media (min-width: #{$screen-mobile-portrait}) {
		@content;
	}
}


// Small devices
@mixin mobile {
	@media (min-width: #{$screen-mobile}) {
		@content;
	}
 }
 
 // Medium devices
 @mixin tablet {
	@media (min-width: #{$screen-tablet}) {
		@content;
	}
 }
 
 // Large devices
 @mixin desktop {
	@media (min-width: #{$screen-desktop}) {
		@content;
	}
 }
 
 // Extra large devices
 @mixin xl-desktop {
	@media (min-width: #{$screen-xl-desktop}) {
		@content;
	}
}
