$background-white: #F5F5F5;
$highlight-white: #FFFFFF;

$color-1: #064635;
$color-2: #205F48;
$color-3: #227649;
$color-4: #499159;
$color-5: #79AF80;
$color-6: #D8E8DA;

$border-radius: 10px;
$box-shadow: 0 0px 20px rgba(0, 0, 0, 0.4);

$dark-gray: #2E2E2E;
$light-gray: #6a6a6a;

$font-family: -apple-system, BlinkMacSystemFont,
'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$max-column-width: 25rem;

$transition-time: 200ms;
$transition-timing: ease-out;

$navbar-height: 3.5rem;
$banner-height: 25rem;
$desktop-banner-height: 40rem;
$xl-desktop-banner-height: 58rem;
$footer-height: 3rem;

// Even smaller screens (mainly used for the horizontal card)
$screen-mobile-portrait: 374px;

// Small tablets and large smartphones (landscape view)
$screen-mobile: 576px;

// Small tablets (portrait view)
$screen-tablet: 768px;

// Tablets and small desktops
$screen-desktop: 925px;

// Large tablets and desktops
$screen-xl-desktop: 2000px;

// Small devices
@mixin sm-mobile {
	@media (min-width: #{$screen-mobile-portrait}) {
		@content;
	}
}


// Small devices
@mixin mobile {
	@media (min-width: #{$screen-mobile}) {
		@content;
	}
 }

 // Small devices in landscape orientation
@mixin mobile-landscape {
	@media (min-width: #{$screen-mobile-portrait}) and (orientation: landscape) {
		@content;
	}
 }
 
 // Medium devices
 @mixin tablet {
	@media (min-width: #{$screen-tablet}) {
		@content;
	}
 }
 
 // Large devices
 @mixin desktop {
	@media (min-width: #{$screen-desktop}) {
		@content;
	}
 }
 
 // Extra large devices
 @mixin xl-desktop {
	@media (min-width: #{$screen-xl-desktop}) {
		@content;
	}
}
