$background-white: #F4F4F4; // #ECF6F6
$highlight-white: #FFFFFF;
$cloud-white: #FDFDFD;

$color-1: #91E5F6;
$color-2: #84D2F6;
$color-3: #59A5D8;
$color-4: #386FA4;
$color-5: #133C55;

/*
$color-1: #C3E1E5;
$color-2: #AAD0D4;
$color-3: #68B8C1;
$color-4: #2A8A92;
$color-5: #617C7E;
*/

$border-radius: 10px;
$box-shadow: 0 1px 25px rgba(128, 128, 128, 0.5);

$dark-gray: #2E2E2E;
$light-gray: #959595;

$font-family: 'Noto Sans', sans-serif;

$max-column-width: 25rem;

$transition-time: 200ms;
$transition-timing: ease-out;

$mobile-navbar-height: 5rem;
$desktop-navbar-width: 6rem;
$banner-height: 8rem;
$desktop-banner-height: 12rem;
$footer-height: 3rem;

html {
  height: 100%;

  background-color: $background-white;
  font-family: $font-family;
  color: $dark-gray;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

  transition: none $transition-time $transition-timing;
  transition-property: background-color, background-image, color, fill;
}

h1 {
  color: $color-4;
  font-size: 28pt;
}

h1, h2 {
  font-weight: 400;
}

table, th, td {
  border: 1px solid $light-gray;
  border-collapse: collapse;
  padding: 0.5rem;
}

th {
  background: $background-white;
}

// Even smaller screens (mainly used for the horizontal card)
$screen-mobile-portrait: 530px;

// Small tablets and large smartphones (landscape view)
$screen-mobile: 576px;

// Small tablets (portrait view)
$screen-tablet: 768px;

// Tablets and small desktops
$screen-desktop: 992px;

// Large tablets and desktops
$screen-xl-desktop: 2000px;

// Small devices
@mixin sm-mobile {
	@media (min-width: #{$screen-mobile-portrait}) {
		@content;
	}
}


// Small devices
@mixin mobile {
	@media (min-width: #{$screen-mobile}) {
		@content;
	}
 }
 
 // Medium devices
 @mixin tablet {
	@media (min-width: #{$screen-tablet}) {
		@content;
	}
 }
 
 // Large devices
 @mixin desktop {
	@media (min-width: #{$screen-desktop}) {
		@content;
	}
 }
 
 // Extra large devices
 @mixin xl-desktop {
	@media (min-width: #{$screen-xl-desktop}) {
		@content;
	}
}
